/* Resposivo del Sitio */
<style>
* {
  box-sizing: border-box;
}

html,body {
  height:100%; 
}
header{
  width: 50%;
  margin: 0 auto; 
  margin-top: 40px; 
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
  /*column-count:2;*/
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

section {
  background-color: aliceblue;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid cornflowerblue; 
  margin-top: 30px;
  text-align: center;
}

.texto { 
   font-family: Arial, Helvetica, sans-serif ;
   font-size: 14px;
   text-align: justify; 
}


figure {
  float: left;
}

figure img{
  width: 180px;
  height: 180px;
}


figure figcaption{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 13px;
  margin-top: 20px;
  font-weight: bold;
}
.tabla_div {
    width: 52%;
    margin: 0 auto;
    padding: 40px;
  padding-top: 0px;
}

.tabla_div table{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  padding: 10px 0px;
}

.tabla_div table tr td{ 
  padding: 10px;
}

.tabla_div table tr td input{ 
  border: 1px solid #999;
  height: 24px; 
  width: 70%;
} 

.tabla_div table tr td:first-child{
  text-align: right;
}

form h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
form h3{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Responsivo para Mobiles */
@media only screen and (max-width:780px) {
  .menu, .main, .right {
    width:100%;
  }
}

.columna_main {
  width:100%;
  float:center;
}

.columna {
	width:50%;
 	float:left;
}


@media (max-width: 780px) {
  
      header{
        width: 90%; 
        text-align: center;
      }
      
      section{
        width: 80%;   
      }

       .tabla_div{
        width: 85%;   
      }
      
      .tabla_div table tr td input{  
        width: 100%;
      } 
      .figure {
          text-align: center;
        float: none;
      }
  }